body {
  text-align: left;
  margin: 0 auto;
  padding: 0;

  font-size: 13px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
form {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
}
form,
input,
option,
textarea {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
}
div {
  box-sizing: border-box;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #666;
}
.table {
  display: table;
  width: 100%;
}
.cell {
  display: table-cell;
  vertical-align: top;
}
.row {
  display: table-row;
}
.clear {
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
}
.firstrow,
.red_container,
.logobar,
.srchbar,
.navbar,
.footer,
.footer-note {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
.nbox {
  float: left;
  height: auto;
  width: 196px;
  margin: 9px 32px 15px 0;
  overflow: hidden;
}
.div_advt_x01 {
  width: 990px;
  text-align: center;
  font-size: 1px;
  margin: 0 auto;
  clear: both;
}
.div_advt_bottom *,
.div_advt_middle *,
.div_advt_x01 * {
  margin-left: auto;
  margin-right: auto;
}
.hide {
  display: none;
}

.floatR {
  float: right;
}
.hmsprite {
  background: url("https://imworld.rediff.com/worldrediff/pix/newindhomesprite10.png")
    no-repeat;
}
.logo {
  display: inline-block;
  width: 140px;
  height: 25px;
  background-position: -50px -3px;
}
a:hover {
  color: #db1a0f;
}

.vmiddle {
  vertical-align: middle !important;
}
.alignR {
  text-align: right;
}
.alignC {
  text-align: center;
}
.vbot {
  vertical-align: bottom !important;
}
.topicons {
  text-align: center;
}
.topicons a {
  display: inline-block;
  margin: 0 35px;
  position: relative;
}
.topicons a.active:before {
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #000;
}
.username {
  display: none;
  margin-bottom: 8px;
  width: 100px;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.logobar {
  min-height: 55px;
}
.logobar .cell {
  vertical-align: middle !important;
}
.relative {
  position: relative;
}
.logobar .cell.toprlinks {
  vertical-align: bottom !important;
}

.mailicon:before {
  background-position: -211px -31px;
}
.bmailicon:before {
  background-position: 10px -35px;
}
.moneyicon:before {
  background-position: -58px -36px;
}
.vdicon:before {
  background-position: -111px -33px;
}
.bookicon:before {
  background-position: -267px -33px;
}
.shopicon:before {
  background-position: -77px -132px;
}
.topicons a.shopicon:before {
  width: 58px;
}
.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}
.eproicon:before {
  background-position: -319px -33px;
}
.navbar {
  width: 100%;
  max-width: 1110px;
  margin: 32px auto 70px auto;

  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
  background: #fff;
}
.navbarul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
}

.navbarul > li > a {
  transition: ease;
}
.navbarul li {
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
  color: #000;
  font-weight: normal;
}
.navbarul > li > a {
  position: relative;
  padding: 5px 15px 5px 15px;
  background: #e0e0e0;
}
.navbarul > .active > a {
  border-bottom: 0;
  z-index: 100;
  background: #f0f0f0;
  font-weight: 500;
}

.navbarul li a {
  display: inline-block;
  line-height: 23px;
  color: #000;
  min-width: 40px;
  text-align: center;
}

.navbarul > li > ul {
  position: absolute;
  left: 0;
  padding-left: 0;
  background: #fff;
  width: 100%;
  top: 33px;
  z-index: 50;
}
.navbarul > li > ul > li {
  display: flex;
  gap: 30px;
  padding: 5px 15px;
  background: #f0f0f0;
  flex-wrap: wrap;
}
.navbarul > li > ul > li a {
  font-size: 13.4px;
}

.div_advt_bottom,
.div_advt_middle {
  clear: both;
  width: 100%;
  max-width: 990px;
  text-align: center;
  font-size: 1px;
  margin: 0 auto 15px auto;
}
.srchcontainer {
  float: right;
  max-width: 275px;
  height: 30px;
  background: #f9f0d6;
  border: #a89766 solid 1px;
  border-radius: 8px;
  position: relative;
  box-sizing: border-box;
}
.div_moneyframe {
  float: left;
  width: 670px;
  height: 30px;
  background: #f9f0d6;
  border: solid 1px #a89766;
  border-radius: 8px;
  overflow: hidden;
}
#moneyiframe {
  border: none;
  background: #f9f0d6;
}
.srchcontainer:after {
  content: "";
  display: block;
  clear: both;
}
.srch_outer {
  position: relative;
  width: 220px;
  border: none;
  float: left;
  margin: 2px 0 0 3px;
}
.homesrchbox {
  height: 22px;
  width: 219px;
  font-size: 11px;
  margin: 0;
  border: 0;
  vertical-align: middle;
  padding: 1px 1px 1px 5px;
  outline: none;
  -webkit-appearance: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.newsrchbtn {
  background: url("./Rediff/search.svg") no-repeat;
  color: #000;
  width: 18px;
  height: 18px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  font-size: 14px;
  padding: 0;
  background-size: 20px auto;
}
.newsrchbtn:focus {
  outline: none;
}
.sug {
  position: relative;
  width: 220px;
  height: 0;
  z-index: 99999;
  text-align: left;
  margin: 0;
  background: #fff;
  top: 2px;
}
.suggbox {
  position: absolute;
  left: 7px;
  width: 240px;
  border: solid 1px #cecece;
  margin-top: 0px;
  z-index: 9999999;
  background: #fff;
  border-top: none;
}
.DefaultRowColor,
.DefaultRowColor1 {
  background-color: #fff;
  color: #000;
  font-size: 13px;
  padding: 5px 0;
  border-bottom: solid 1px #ebebeb;
  margin: 0 5px;
}
.HighlightRow,
.HighlightRow1 {
  background-color: #e5e5e5;
  color: #000;
  font-size: 13px;
  padding: 5px;
  border-bottom: solid 1px #ebebeb;
}

.signin {
  display: inline-block;
}

.secstorybox {
  float: left;
  width: 426px;
  height: 260px;
  overflow: hidden;
  margin: 0 32px 0 0;
}
.topboxheight {
  height: 270px;
}
.footer {
  margin: 0 auto;
  padding: 10px 0 0 0;
  padding: 20px 0;
  font-family: "Roboto Condensed", sans-serif;
}
.secstorybox h3 {
  border-bottom: solid 2px #777;
  color: #484646;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
  margin: 0 0 5px 30px;
  position: relative;
  letter-spacing: 1px;
  min-height: 15px;
  text-transform: uppercase;
}

.secstorybox h2 {
  line-height: 2.8em;
  height: 2.8em;
  overflow: hidden;
  font-size: 1.16em;
  border-bottom: solid 1px #e0e0e0;
}
.secstorybox h2:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #777777;
  color: #777777;
  padding: 0;
  margin-right: 10px;
  border-radius: 50%;
}
.firstrow .secstorybox h2 {
  line-height: 2.4em;
  height: 2.4em;
}
.morestory {
  color: #484646;
  display: inline-block;
  margin: 22px 0 0 0;
  font-weight: 600;
  font-family: "Roboto Condensed";
  text-underline-offset: 5px;
  text-decoration: underline;
}
.firstrow .morestory {
  margin: 22px 0 0 0;
}
.bigstory {
  float: left;
  width: 320px;
  height: 290px;
  overflow: hidden;
  margin-right: 32px;
}
.bigstory .more {
  display: none;
}
.div_advt_right {
  height: 290px;
}
.more {
}

.more span,
.more a,
.sub-navbar__container .sub-navbar > a {
  color: #9a9a9a;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14.4px;
  line-height: 20.16px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: all 0.65s ease-out;
  margin-bottom: 8px;
}

.more span:hover,
.more a:hover {
  border-color: #666;
}
.news h3:before {
  background-position: -125px -83px;
}
.cricket h3:before {
  background-position: -282px -83px;
}
.sports h3:before {
  background-position: -282px -83px;
}
.business h3:before {
  background-position: -316px -80px;
}
.movies h3:before {
  background-position: -165px -83px;
}
.getahead h3:before {
  background-position: -208px -83px;
}
.editorschoice h3:before {
  background-position: -247px -83px;
}
.trendnews h3:before {
  background-position: -87px -81px;
}
.topstories h3:before {
  background-position: -3px -80px;
}
.bigstory h5,
.nbox h5 {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 170px;
  overflow: hidden;
}
.bigstory h5 {
  height: 205px;
}
.hdtitle {
  font-size: 19.2px;
  line-height: 21.12px;
  height: 2.2em;
  overflow: hidden;
  margin: 6px 0 0 0;
  padding: 0 0 2px 0;
  font-weight: 700;
}
.hdtitle a {
  color: #000;
}
.bigstory .hdtitle {
  padding: 2px 0;
}
.secstorybox.cricket h3 {
  border-bottom: solid 2px #009c00;
  color: #009c00;
}
.secstorybox.sports h3 {
  border-bottom: solid 2px #009c00;
  color: #076907;
}
.secstorybox.news h3 {
  border-bottom: solid 2px #bc3e31;
  color: #bc3e31;
}
.secstorybox.movies h3 {
  border-bottom: solid 2px #e54e76;
  color: #c73159;
}
.secstorybox.business h3 {
  border-bottom: solid 2px #9f6b3f;
  color: #9f6b3f;
}
.secstorybox.getahead h3 {
  border-bottom: solid 2px #7462e0;
  color: #7462e0;
}
.secstorybox.trendnews h3 {
  border-bottom: solid 2px #02a4aa;
  color: #02a4aa;
}
.secstorybox.editorschoice h3 {
  border-bottom: solid 2px #02a4aa;
  color: #02a4aa;
}
.secstorybox.topstories h3 {
  border-bottom: solid 2px #555555;
  color: #555555;
}
.secstorybox.cricket h2:before {
  background: #009c00;
}
.secstorybox.sports h2:before {
  background: #777777;
}
.secstorybox.news h2:before {
  background: #bc3e31;
}
.secstorybox.movies h2:before {
  background: #e54e76;
}
.secstorybox.business h2:before {
  background: #9f6b3f;
}
.secstorybox.getahead h2:before {
  background: #7462e0;
}
.secstorybox.trendnews h2:before {
  background: #02a4aa;
}
.secstorybox.editorschoice h2:before {
  background: #02a4aa;
}
.secstorybox h2.live:before {
  content: "LIVE! ";
  color: #b71c1c;
  padding: 0;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 600;
  background: none;
  width: 45px;
  height: 20px;
  margin-right: 0;
}
.secstorybox h2.cricket:before {
  background: #db1a0f;
}
.secstorybox h2.sports:before {
  background: #db1a0f;
}
.secstorybox h2.news:before {
  background: #db1a0f;
}
.secstorybox h2.movies:before {
  background: #db1a0f;
}
.secstorybox h2.business:before {
  background: #db1a0f;
}
.secstorybox h2.getahead:before {
  background: #db1a0f;
}
.cricket .morestory {
  color: #db1a0f;
}
.sports .morestory {
  color: #db1a0f;
}
.news .morestory {
  color: #db1a0f;
}
.movies .morestory {
  color: #db1a0f;
}
.getahead .morestory {
  color: #db1a0f;
}
.business .morestory {
  color: #db1a0f;
}
.editorschoice .morestory {
  color: #db1a0f;
}
.trendnews .morestory {
  color: #db1a0f;
}
.topstories .morestory {
  color: #db1a0f;
}

.srchbar {
  background: #fff;
  padding: 0;
  margin: 10px auto;
  max-width: 970px;
  text-align: left;
}

.trndnews_container {
  clear: both;
  margin: 0 0 1px 0;
}
.trndnews_container .nbox {
  margin-bottom: 1px;
  margin-top: 9px;
}
#footertrack {
  font-size: 2px;
}
.livecolor {
  color: #b71c1c;
}
.msg_noscript {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-color: #ff9;
  background-color: rgba(255, 255, 153, 0.9);
  border: solid 1px #fc3;
  padding: 3px;
  margin: 0 auto 0 auto;
  font-weight: bold;
}
.red {
  color: #b71c1c;
}
.secstorybox h2.verdict:before {
  display: none;
}
.moneyiframe {
  margin: 0;
  overflow: hidden;
}
.div_newssearch {
  text-align: left;
  position: absolute;
  right: 0;
  background: #fff;
  z-index: 1;
  top: -14px;
  height: 40px;
  width: 280px;
  border: solid 1px #e0e0e0;
}
.div_newssearch .txt_srchquery {
  border: 0;
  padding: 0;
  height: 38px;
  line-height: 38px;
  outline: none;
  margin: 0 0 0 10px;
  width: calc(100% - 45px);
}
.div_newssearch .txt_srchquery::placeholder {
  opacity: 0.6;
}

.red_container h2 a:visited {
  color: #777;
}
.red_container h2 a:hover {
  color: #db1a0f;
}
.nbox:visited {
  color: #777;
}
.red_container h2.live a:visited {
  color: #000;
}
.tabtable {
  position: relative;
}
.sub-section-heading {
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 19.2px;
  font-weight: 700;
  padding-top: 10px;
  border-top: 1px solid #000;
  margin: 32px 0 20px;
}
.sub-section-heading a {
  color: #000;
}

.tabshide {
  display: none;
}
.secstorybox h2.time:before {
  content: "";
  width: 8px;
  margin-right: 10px;
}
h2.time i {
  font-family: "arial";
  font-style: normal;
  color: #bc3e31 !important;
  font-size: 11px;
  position: absolute;
  right: 0;
  top: 1px;
}
.firstrow .secstorybox h2.time {
  line-height: 2.4em;
  height: 2.4em;
  padding-right: 41px;
}
.lmore {
  display: inline-block;
  color: #bc3e31;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 0;
}
.bmailicon:after {
  content: "new";
  position: absolute;
  background: #e15321;
  color: #fff;
  font-size: 10px;
  border-radius: 3px;
  padding: 1px 3px 2px 3px;
  text-align: center;
  top: 17px;
  left: 56px;
  font-family: arial;
}
.div_corona {
  display: table;
  width: 100%;
  max-width: 430px;
  border: solid 1px #df2301;
  padding: 0;
  margin: 0;
}
.div_corona p {
  display: table-cell;
  text-align: center;
  padding: 3px 2px;
  vertical-align: middle;
  color: #000;
  font-size: 0.95em;
}
.div_corona p:nth-child(1) {
  background: #df2301;
  color: #fff;
  padding: 2px 0;
  width: 95px;
  font-weight: bold;
}
.cor_margin {
  margin-bottom: 8px;
}
.tabtable.corona {
  margin-top: 8px;
}
.topboxheight.corona {
  height: 305px;
}
.div_corona p:nth-child(5) {
  color: #df2301;
  text-align: right;
  padding: 2px 1px 2px 0;
  width: 42px;
  font-weight: bold;
}
.hlabel {
  font-size: 0;
  color: #fff;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.corocopy {
  font-size: 0px;
  color: #fff;
  display: none;
}
.shopicon:after {
  content: "new";
  position: absolute;
  background: #e15321;
  color: #fff;
  font-size: 10px;
  border-radius: 3px;
  padding: 1px 3px 2px 3px;
  text-align: center;
  top: -6px;
  left: 47px;
  font-family: arial;
}
@media screen and (max-width: 1110px) {
  .secstorybox {
    width: 380px;
  }
  .bigstory {
    width: 245px;
  }
  .nbox {
    margin-right: 8px;
    width: 190px;
  }
  .nbox .more {
    display: none;
  }
  .firstrow,
  .red_container,
  .logobar,
  .srchbar,
  .footer {
    padding: 0 3px;
  }
  .topicons a {
    margin: 0 20px;
  }
  .logobar {
    padding-bottom: 10px;
  }
  .srchcontainer {
    margin-left: 0;
  }
  .red_container {
    padding-left: 10px;
  }
  .moneyicon:after {
    display: none;
  }
  .hdtitle {
    font-size: 0.9em;
  }
  .navbarul span,
  .navbarul li {
    font-size: 11px;
  }
  .secstorybox h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 990px) {
  .secstorybox {
    width: 260px;
  }
  .secstorybox h2:before {
    content: "";
    padding: 0;
  }
  .topicons a {
    margin: 0 10px;
  }
  .bigstory {
    width: 135px;
  }
  .bigstory h5,
  .bigstory h5 img {
    height: 140px;
  }
  .hdtitle {
    height: 4em;
    font-size: 0.9em;
  }
  .footer {
    font-size: 90%;
    padding-top: 10px;
  }
  .nbox h5,
  .nbox h5 img {
    height: 150px;
  }
  .nbox {
    margin-right: 12px;
    width: 140px;
  }
  .div_advt_x01 {
    width: 100%;
  }
  .div_moneyframe {
    width: 475px;
  }
  .red_container {
    padding-left: 5px;
  }
  .navbarul {
    margin-left: 2px;
  }
  .navbarul li:first-child::before {
    width: 35px;
  }
  .navbarul li {
    padding: 0 4px;
  }
  .div_newssearch {
    width: 120px;
  }
  .div_newssearch .txt_srchquery {
    width: 80px;
  }
}

.footer-wrapper {
  background: #e0e0e0;
}

.section-line {
  position: relative;
  overflow: initial;
}

.section-line:before {
  content: "";
  width: 1px;
  height: 100%;
  border-left: 1px solid #d0d0d0;
  display: block;
  position: absolute;
  top: 0;
  left: -16px;
}

.section-line-bottom {
  position: relative;
  margin-bottom: 60px;
  overflow: initial;
}

.section-line-bottom:after {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #d0d0d0;
  display: block;
  position: absolute;
  bottom: -32px;
  left: 0;
}

.story-date-time {
  color: #9a9a9a;
  font-size: 14.4px;
  line-height: 20.16px;
  margin-top: 5px;
}

.vdplayicon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 45px;
  height: 45px;
  background: url("./Rediff/newindhomesprite10.png") no-repeat -2px -128px;
  left: 50%;
  top: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
}

.vdplayicon:before {
  content: "3.13";
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  right: 5px;
  bottom: 5px;
  margin-left: -22.5px;
  margin-top: -22.5px;
  color: #fff;
  font-family: "Roboto Condensed";
  padding: 0 5px;
}

.sub-section-heading.news {
  background: url(./Rediff/news.svg) no-repeat left top 8px;
  padding-left: 34px;
}

*:has(.backnews.news) ~ .hdtitle {
  background: url(./Rediff/news-s.svg) no-repeat left top 0px;
  padding-left: 28px;
  background-size: 22px auto;
}

.sub-section-heading.cricket {
  background: url(./Rediff/cricket.svg) no-repeat left top 8px;
  padding-left: 34px;
  background-size: 26px auto;
}

*:has(.backcricket.cricket) ~ .hdtitle,
.sub-navbar a.cricket {
  background: url(./Rediff/cricket-s.svg) no-repeat left top 0px;
  padding-left: 28px;
  background-size: 22px auto;
}

.sub-section-heading.movies {
  background: url(./Rediff/movies.svg) no-repeat left top 8px;
  padding-left: 34px;
}

*:has(.backmovies.movies) ~ .hdtitle,
.sub-navbar a.movies {
  background: url(./Rediff/movies-s.svg) no-repeat left top 0px;
  padding-left: 28px;
  background-size: 22px auto;
}

.sub-section-heading.business {
  background: url(./Rediff/business.svg) no-repeat left top 5px;
  padding-left: 34px;
  background-size: 26px auto;
}

*:has(.backbusiness.business) ~ .hdtitle,
.sub-navbar a.business {
  background: url(./Rediff/business-s.svg) no-repeat left top -3px;
  padding-left: 28px;
  background-size: 22px auto;
}

.sub-section-heading.getahead {
  background: url(./Rediff/getahead.svg) no-repeat left top 7px;
  padding-left: 34px;
  background-size: 26px auto;
}

*:has(.backgetahead.getahead) ~ .hdtitle,
.sub-navbar a.getahead {
  background: url(./Rediff/getahead-s.svg) no-repeat left top -2px;
  padding-left: 28px;
  background-size: 22px auto;
}

.sub-section-heading.sports {
  background: url(./Rediff/sport.svg) no-repeat left top 7px;
  padding-left: 34px;
  background-size: 26px auto;
}

*:has(.backsports.sports) ~ .hdtitle,
.sub-navbar a.sports {
  background: url(./Rediff/sport-s.svg) no-repeat left top -2px;
  padding-left: 28px;
  background-size: 22px auto;
}

*:has(.backvid.vid) ~ .hdtitle,
.sub-navbar a.videos {
  background: url(./Rediff/video-s.svg) no-repeat left top -2px;
  padding-left: 28px;
  background-size: 22px auto;
}

.sub-section-heading.gurus {
  background: url(./Rediff/gurus.png) no-repeat left top 12px;
  padding-left: 26px;
  background-size: 18px auto;
}

*:has(.backgurus.gurus) ~ .hdtitle {
  background: url(./Rediff/gurus-s.png) no-repeat left top 0;
  padding-left: 23px;
  background-size: 16px auto;
}

*:has(.backmarketnews.marketnews) ~ .hdtitle,
.sub-navbar a.marketnews {
  background: url(./Rediff/market-s.svg) no-repeat left top -1px;
  padding-left: 28px;
  background-size: 22px auto;
}

*:has(.backshop.travel) ~ .hdtitle,
.sub-navbar a.travel {
  background: url(./Rediff/travel-s.svg) no-repeat left top -1px;
  padding-left: 28px;
  background-size: 22px auto;
}

.sub-section-heading.editor {
  background: url(./Rediff/editor.svg) no-repeat left top 10px;
  padding-left: 34px;
  background-size: 23px auto;
}

.m-r-0 {
  margin-right: 0;
}

footer {
  background: #f0f0f0;
  font-family: "Source Sans 3", sans-serif;
  padding: 40px 0;
  margin-top: 60px;
}

.footer-note {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 30px;
}

.footer-note p ~ p {
  margin-top: 10px;
}

footer .signup {
  font-family: "Roboto Condensed";
}

footer .signup h3 {
  font-size: 1.35em;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 14px;
}

footer .signup input[type="email"] {
  height: 40px;
  padding: 0 15px;
  border: 0;

  max-width: 100%;
  box-sizing: border-box;
}
footer .signup input[type="email"]::placeholder {
  color: #999;
}

footer .signup input[type="submit"] {
  background: #000;
  color: #fff;
  font-weight: 700;
  border: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
}

@media screen and (min-width: 768px) {
  .footer-note > div ~ div {
    border-left: 1px solid #d0d0d0;
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .logobar {
    padding-bottom: 20px;
  }
  .topbar #signin_info {
    padding-block: 12px !important;
  }
  .logobar .topicons,
  .navbar {
    display: none;
  }
  #red_container_main,
  footer,
  .footer-wrapper {
    padding-inline: 15px;
  }
  .add-flex {
    flex-wrap: wrap;
  }
  .stock.add-flex.align-items-center {
    gap: 15px;
    align-items: flex-start;
  }
  .stock .stocksearchbox {
    margin-left: 0 !important;
  }
  .secstorybox {
    width: 100% !important;
    margin: 0 0 30px;
  }
  .bigstory {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  .bigstory h5,
  .bigstory h5 img {
    height: auto;
  }
  .topboxheight.corona {
    height: auto;
  }

  .nbox,
  .bigstory {
    display: grid;
    grid-auto-columns: 122px 1fr;
    grid-gap: 15px;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .nbox ~ .nbox {
    margin-top: 15px;
  }
  .nbox h5,
  .bigstory h5 {
    grid-area: 1 / 1 / span 3;
  }
  .nbox .story-date-time,
  .bigstory .story-date-time {
    grid-area: 1 / 2;
    margin-top: 0;
  }
  .nbox h5,
  .nbox h5 img {
    height: auto;
    width: 122px;
  }
  .section-line:before,
  .section-line-bottom:after {
    content: none;
  }
  .hdtitle {
    height: 4.5em;
    margin-top: 0;
    padding: 0 0 0 25px !important;
    line-height: normal;
    background-position: left top -4px !important;
  }
  .nbox:has(.backgurus.gurus) .more {
    bottom: -11px !important;
  }
  .footer {
    padding-block: 20px;
  }
  .sub-navbar {
    overflow: auto;
    max-width: 100%;
    gap: 15px !important;
  }
  .sub-navbar a {
    white-space: nowrap;
  }
  .sub-navbar::-webkit-scrollbar {
    width: 10px;
  }
  .footer-note {
    grid-template-columns: 1fr;
  }
}

.sub-navbar {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  gap: 45px;
  margin-top: 32px;
  border-top: 1px solid #000;
  padding-top: 10px;
}

.sub-navbar a {
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  color: #000;
  padding-bottom: 8px;
  border-bottom: 5px solid transparent !important;
}

.sub-navbar a:hover {
  border-bottom: 5px solid #000 !important;
}

.sub-navbar a.active {
  border-bottom: 5px solid #000 !important;
}

/* Content Styles */
.content {
  margin-top: 20px;
}

.videos {
  display: none;
}

.videos.active {
  display: flex;
  flex-wrap: wrap;
}

.video-item {
  margin: 10px 0;
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sub-navbar__container {
  h1 {
    font-size: 34px;
    font-weight: 600;
  }
}

.nbox .more {
  display: none;
}
.nbox:has(.backgurus.gurus) {
  position: relative;
}
.nbox:has(.backgurus.gurus) .more {
  display: block;
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 27px;
}

.nbox:has(.backgurus.gurus) .more a {
  font-size: 0;
}
.navbarMobile {
  display: none;
}
